<div class="card mb-3" id="certif1">
    <div class="card-header">
        <div class="row">
        <div class="col-xl-10">{{education.centro}}</div>
        <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
        <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
        </div> 
    </div>
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{education.imagenUrl}} class="img-fluid" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{education.titulo}}</h5>
        
        <p class="card-text">{{education.descipcion}}</p>
          <a href={{education.linkUrl}} class="btn btn-success col-md-1">Link</a>
        </div>
      </div>
    </div>
</div>
