<section id="portfolio">
    <div class="container mt-3">
        
            <div class="row">
                <div class="col-xl-11"><h1>Portfolio Component</h1></div>
                <div class="col-xl-1">
                    <i id="add-portfolio-btn" class="fa-solid fa-square-plus btn btn-success" data-bs-toggle="modal" data-bs-target="#add-portfolio-modal" title="clickeame"></i>
                </div>
            </div> 
        <app-portfolio-item *ngFor ="let portfolio of porfolio" [portfolio]="portfolio" (onDeletePortfolio)="deletePortfolio(portfolio)"></app-portfolio-item>
    </div>
  </section>
  <app-add-portfolio (addOnPorfolio)="addPortfolio($event)"></app-add-portfolio>
