<section id="about">
    <div class="container mt-4 pt-4">
        <h1 class="text-center">Sobre Mi</h1>
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src={{about[0].imageUrl}} class= "imageAboutPage" alt="foto personal" title="este no soy yo">
            </div>
  
            <div class="col-lg-8">
                <p> {{about[0].text}}
                    
                </p>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <ul>
                            <li>Name: {{about[0].name}}</li>
                            <li>Age: {{about[0].age}}</li>
                            <li>Occupation: {{about[0].ocupation}}</li>
  
                        </ul>
                    </div>
                   
                </div>
                <div class="row mt-3">
                    <p> 
                        Aca tiene que ir informacion sobre mi
                    </p>
                </div>
            </div>
        </div>
    </div>
  </section> 
