<div class="modal fade" id="edit-expe-modal" tabindex="-1" aria-labelledby="edit expe modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-expe-titulo">Modificar Experiencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form (ngSubmit)="onUpdate()">
        <div class="modal-body">
            <div class="mb-3">
                <label for="empresa" class="form-label">Empresa</label>
                <input type="text" class="form-control" name="empresa" id="empresa" placeholder="agrega la empresa" [(ngModel)]="expe.empresa">
            </div>
            <div class="mb-3">
                <label for="Ubicacion" class="form-label">Ubicacion</label>
                <input type="text" class="form-control" name="ubicacion" id="ubicacon" placeholder="ubicacion" [(ngModel)]="expe.ubicacion">
            </div>
            <div class="mb-3">
                <label for="cargo" class="form-label">Puesto</label>
                <input type="text" class="form-control" name="cargo" id="cargo" placeholder="agrega el puesto ocupado" [(ngModel)]="expe.cargo">
            </div>
            <div class="mb-3">
                <label for="desde" class="form-label">Ocupado desde</label>
                <input type="text" class="form-control" name="desde" id="desde" placeholder="desde cuando en ese cargo o empresa" [(ngModel)]="expe.desde">
            </div>
            <div class="mb-3">
                <label for="hasta" class="form-label">Ocupado Hasta</label>
                <input type="text" class="form-control" name="hasta" id="hasta" placeholder="Hasta cuando ocupo ese cargo" [(ngModel)]="expe.hasta">
            </div>
            
              
        </div>
        <div class="modal-footer">
          
          <button type="submit" class="btn btn-primary" id="btnEntar"data-bs-dismiss="modal">Editar <i class="fa-solid fa-pen-to-square"></i></button>
        </div>
        </form>
    </div>
  </div>
