<nav class="navbar navbar-expand-lg fixed-top navbarScroll navbar-dark bg-dark" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">ArgentinaPrograma <i class="fa-solid fa-hashtag"></i>YoProgramo</a>
        <button class="navbar-toggler btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" id="btnEntrar"data-bs-toggle="modal" routerLink="/login-modal" data-bs-target="#loginModal" title="clickeame" *ngIf="!isLogged">LOGIN <i class="fa-solid fa-right-to-bracket"></i></button>
                </li>
                <li>
                    <button type="button" class="btn btn-outline-success" title="este deberia aparecer cuando haces login" (click)="onLogOut()" *ngIf="isLogged">LOGOUT <i class="fa-solid fa-right-from-bracket"></i></button>
                </li>
                <!--  estos dos deberian aparecer y desaparecer al hacer login y logout-->
            </ul>
            
        </div>
    </div>
  </nav>
