<section id="expe">
    <div class="container mt-3">
        <div class="row">
            <div class="col-xl-11"><h1>Experiencia Laboral</h1></div>
            <div class="col-xl-1">
                <i id="add-expe-btn" class="fa-solid fa-square-plus btn btn-success" data-bs-toggle="modal" data-bs-target="#add-expe-modal" title="clickeame"  *ngIf="isLogged"></i>
            </div>
        </div>
        <app-expe-item *ngFor ="let expe of expe" [expe]="expe" (onDeleteExpe)="deleteExpe(expe)" (onEditExpe)="(editexpe.showEdit(expe.id))"></app-expe-item>
    </div>
  </section>
<app-add-expe (addOnExpe)="addExpe($event)"></app-add-expe>
<app-edit-expe #editexpe (editOnExpe)="editExpe($event)"></app-edit-expe>
