<app-navbar></app-navbar>
<app-header></app-header>
<app-about></app-about>

   


<section id="education">
  <div class="container mt-3">
      
          <div class="row">
              <div class="col-xl-11"><h1>Education</h1></div>
              <div class="col-xl-1"><i class="fa-solid fa-square-plus btn btn-success"></i></div>
          </div> 
      <div class="card mb-3" id="certif1">
          <div class="card-header">
              <div class="row">
              <div class="col-xl-10">Cetifiacion uno</div>
              <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
              <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
              </div> 
          </div>
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/certif1.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">ArgentinaPrograma</h5>
                <p class="card-text">La cuenta de Alejandro Tristezza está verificada. Mumuki certifica que completó el curso de Certificación Argentina Programa "Sé Programar".</p>
                <a href="https://mumuki.io/argentina-programa/certificates/verify/1TqCCiukSFvq250s" class="btn btn-success col-md-1">Link</a>
              </div>
            </div>
          </div>
      </div>
      <div class="card mb-3" id="certif2">
          <div class="card-header">
              <div class="row">
              <div class="col-xl-10">Freecodecamp</div>
              <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
              <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
              </div> 
          </div>
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/certif2.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Responsive Web Desing</h5>
                <p class="card-text">This certifies that
                  Alejandro Tristezza
                  has successfully completed the freeCodeCamp.org
                  Responsive Web Design
                  Developer Certification, representing approximately 300 hours of coursework.</p>
                <a href="https://www.freecodecamp.org/certification/triste/responsive-web-design" class="btn btn-success col-md-1">Link</a>
              </div>
            </div>
          </div>
      </div>
      <div class="card mb-3" id="certif3">
          <div class="card-header">
              <div class="row">
              <div class="col-xl-10">Freecodecamp</div>
              <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
              <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
              </div> 
          </div>
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/certif3.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">JavaScript Algorithms and Data Structures</h5>
                <p class="card-text">This certifies that
                  Alejandro Tristezza
                  has successfully completed the freeCodeCamp.org
                  JavaScript Algorithms and Data Structures
                  Developer Certification, representing approximately 300 hours of coursework.</p>
                <a href="https://freecodecamp.org/certification/triste/javascript-algorithms-and-data-structures" class="btn btn-success col-md-1">Link</a>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>

<section id="portfolio">
  <div class="container mt-3">
      
          <div class="row">
              <div class="col-xl-11"><h1>Portfolio</h1></div>
              <div class="col-xl-1"><i class="fa-solid fa-square-plus btn btn-success"></i></div>
          </div> 
      <div class="card mb-3" id="proyecto1">
          <div class="card-header">
              <div class="row">
              <div class="col-xl-10">Proyecto 1</div>
              <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
              <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
              </div> 
          </div>
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/portfolioImage1.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Este es el proyecto uno</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-success col-md-1">Link</a>
              </div>
            </div>
          </div>
      </div>
      <div class="card mb-3" id="pryecto2">
          <div class="card-header">
              <div class="row">
              <div class="col-xl-10">Proyecto 2</div>
              <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
              <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
              </div> 
          </div>
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/portfoiloImage2.webp" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Este es el proyecto dos</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-success col-md-1">Link</a>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>




<app-skills></app-skills>
<app-footer></app-footer>




<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ejemplo de Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
      <div class="modal-body">
          <div class="mb-3">
              <label for="user" class="form-label">Usuario</label>
              <input type="text" class="form-control" id="user" aria-describedby="emailHelp" placeholder="Admin">
          </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="123">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="loginCheck">
              <label class="form-check-label" for="loginCheck">Recuerdame</label>
            </div>
      </div>
      <div class="modal-footer">
        
        <button type="submit" class="btn btn-primary" id="btnEntar">LOGIN <i class="fa-solid fa-right-to-bracket"></i></button>
      </div>
      </form>
  </div>
</div>