<app-navbar></app-navbar>

<header class="bgimage" id="home">
  <div class="container-fluid">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
          <h2 class="hero_title">Hola Mundo</h2>
          <p class="hero_desc">Esto es una prueba</p>
      </div>
      </div>
  </div>
</header>
<section id="about">
  <div class="container mt-4 pt-4">
      <h1 class="text-center">Sobre Mi</h1>
      <div class="row mt-4">
          <div class="col-lg-4">
              <img src="img/about.jpg" class= "imageAboutPage" alt="foto personal" title="este no soy yo">
          </div>

          <div class="col-lg-8">
              <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                  
              </p>
              <div class="row mt-3">
                  <div class="col-md-6">
                      <ul>
                          <li>Name: Alejandro Tristezza</li>
                          <li>Age: 37</li>
                          <li>Occupation: Full-stack Developer</li>

                      </ul>
                  </div>
                 
              </div>
              <div class="row mt-3">
                  <p> 
                      Aca tiene que ir informacion sobre mi
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>     


<section id="education">
  <div class="container mt-3">
      
          <div class="row">
              <div class="col-xl-11"><h1>Education</h1></div>
              <div class="col-xl-1"><i class="fa-solid fa-square-plus btn btn-success"></i></div>
          </div> 
      <div class="card mb-3" id="certif1">
          <div class="card-header">
              <div class="row">
              <div class="col-xl-10">Cetifiacion uno</div>
              <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
              <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
              </div> 
          </div>
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/certif1.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">ArgentinaPrograma</h5>
                <p class="card-text">La cuenta de Alejandro Tristezza está verificada. Mumuki certifica que completó el curso de Certificación Argentina Programa "Sé Programar".</p>
                <a href="https://mumuki.io/argentina-programa/certificates/verify/1TqCCiukSFvq250s" class="btn btn-success col-md-1">Link</a>
              </div>
            </div>
          </div>
      </div>
      <div class="card mb-3" id="certif2">
          <div class="card-header">
              <div class="row">
              <div class="col-xl-10">Freecodecamp</div>
              <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
              <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
              </div> 
          </div>
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/certif2.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Responsive Web Desing</h5>
                <p class="card-text">This certifies that
                  Alejandro Tristezza
                  has successfully completed the freeCodeCamp.org
                  Responsive Web Design
                  Developer Certification, representing approximately 300 hours of coursework.</p>
                <a href="https://www.freecodecamp.org/certification/triste/responsive-web-design" class="btn btn-success col-md-1">Link</a>
              </div>
            </div>
          </div>
      </div>
      <div class="card mb-3" id="certif3">
          <div class="card-header">
              <div class="row">
              <div class="col-xl-10">Freecodecamp</div>
              <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
              <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
              </div> 
          </div>
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/certif3.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">JavaScript Algorithms and Data Structures</h5>
                <p class="card-text">This certifies that
                  Alejandro Tristezza
                  has successfully completed the freeCodeCamp.org
                  JavaScript Algorithms and Data Structures
                  Developer Certification, representing approximately 300 hours of coursework.</p>
                <a href="https://freecodecamp.org/certification/triste/javascript-algorithms-and-data-structures" class="btn btn-success col-md-1">Link</a>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>

<section id="portfolio">
  <div class="container mt-3">
      
          <div class="row">
              <div class="col-xl-11"><h1>Portfolio</h1></div>
              <div class="col-xl-1"><i class="fa-solid fa-square-plus btn btn-success"></i></div>
          </div> 
      <div class="card mb-3" id="proyecto1">
          <div class="card-header">
              <div class="row">
              <div class="col-xl-10">Proyecto 1</div>
              <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
              <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
              </div> 
          </div>
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/portfolioImage1.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Este es el proyecto uno</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-success col-md-1">Link</a>
              </div>
            </div>
          </div>
      </div>
      <div class="card mb-3" id="pryecto2">
          <div class="card-header">
              <div class="row">
              <div class="col-xl-10">Proyecto 2</div>
              <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
              <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
              </div> 
          </div>
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/portfoiloImage2.webp" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Este es el proyecto dos</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-success col-md-1">Link</a>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>

<section id="skills">
  <div class="container mt-3">
      <div class="row">
          <div class="col-xl-11"><h1>Skills</h1></div>
          <div class="col-xl-1 edit-container"><i class="fa-solid fa-square-plus btn btn-success"></i></div>
      </div> 
      <div class="card" id="skill1">
          <div class="row" >
              <div class="col-xl-10"><h5 class="card-title">HTML5</h5></div>
              <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
              <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
          </div>
          <div class="progress" style="height: 30px;">
              <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
          </div>
      </div>
      <div class="card" id="skill2">
          <div class="row" >
              <div class="col-xl-10"><h5 class="card-title">CSS</h5></div>
              <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
              <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
          </div>
          <div class="progress" style="height: 30px;">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
      </div>
      <div class="card" id="skill1">
          <div class="row" >
              <div class="col-xl-10"><h5 class="card-title">Javascript</h5></div>
              <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger"></i></div>
              <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"></i></div>
          </div>
          <div class="progress" style="height: 30px;">
              <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
          </div>
      </div>
      
  </div>
</section>


<footer id="contact">
  <div class="container-fluid">
      <!-- social media icons -->
      <div class="social-icons mt-4">
          <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="mailto:atristezza@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>

          
      </div>
  </div>
</footer>




<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ejemplo de Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
      <div class="modal-body">
          <div class="mb-3">
              <label for="user" class="form-label">Usuario</label>
              <input type="text" class="form-control" id="user" aria-describedby="emailHelp" placeholder="Admin">
          </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="123">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="loginCheck">
              <label class="form-check-label" for="loginCheck">Recuerdame</label>
            </div>
      </div>
      <div class="modal-footer">
        
        <button type="submit" class="btn btn-primary" id="btnEntar">LOGIN <i class="fa-solid fa-right-to-bracket"></i></button>
      </div>
      </form>
  </div>
</div>