<div class="card">
  <div class="row" >
      <div class="col-xl-10"><h2 class="card-title">{{expe.empresa}}</h2></div>
      <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger" *ngIf="isLogged"(click)="onClick(expe)"></i></div>
      <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success" data-bs-toggle="modal" data-bs-target="#edit-skill-modal" title="clickeame"  *ngIf="isLogged" (click)="onEdit(expe)"></i></div>
  </div>
  <div class="row" >
    <div class="col-xl-10"><h3 class="card-title">{{expe.ubicacion}}</h3></div>
  </div>
  <div class="row" ></div>
  <div class="col-xl-8"><h2 class="card-title">{{expe.cargo}}</h2></div>
  <div class="col-xl-2"><h2 class="card-title">{{expe.desde}}</h2></div>
  <div class="col-xl-2"><h2 class="card-title">{{expe.hasta}}</h2></div>
</div>