<div class="card mb-3" id="proyecto1">
    <div class="card-header">
        <div class="row">
        <div class="col-xl-10">{{portfolio.titulo}}</div>
        <div class="col-xl-1"><i class="fa-solid fa-trash-can btn btn-danger" (click)="onClick(portfolio)"*ngIf="isLogged"></i></div>
        <div class="col-xl-1"><i class="fa-solid fa-pen-to-square btn btn-success"*ngIf="isLogged"></i></div>
        </div> 
    </div>
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{portfolio.imageUrl}} class="img-fluid" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{portfolio.subtitulo}}</h5>
          <p class="card-text">{{portfolio.text}}</p>
          <a href={{portfolio.linkUrl}} class="btn btn-success col-md-1">Link</a>
        </div>
      </div>
    </div>
</div>
