<section id="skills">
    <div class="container mt-3">
        <div class="row">
            <div class="col-xl-11"><h1>Skills component</h1></div>
            <div class="col-xl-1">
                <i id="add-skill-btn" class="fa-solid fa-square-plus btn btn-success" data-bs-toggle="modal" data-bs-target="#add-skill-modal" title="clickeame" ></i>
            </div>
        </div>
        <app-skill-item *ngFor ="let skill of skills" [skill]="skill" (onDeleteSkill)="deleteSkill(skill)" (onEditSkill)="editSkill(skill)"></app-skill-item>
    </div>
  </section>
  <app-add-skill (addOnSkill)="addSkill($event)"></app-add-skill>
  <app-edit-skill></app-edit-skill>
 